footer {
	@include is-max(640px) {
		padding-bottom: 60px;
	}
}
footer a,
footer img {
	display: block;
	width: 100%;
}
#footerInfo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	max-width: 1090px;
	padding: 80px 20px;
	margin: 0 auto;
	border-top: 1px solid #000;
	@include is-max(640px) {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 0 20px 50px;
		border-top: none;
	}
	p {
		width: 100%;
		max-width: 278px;
		padding: 0 60px;
		@include is-max(640px) {
			max-width: 256px;
			padding: 0 60px 70px;
			margin-bottom: 20px;
			border-bottom: 1px dotted #000;
		}
	}
	dt {
		font-weight: 700;
		@include is-max(640px) {
			margin-bottom: 10px;
		}
	}
	dd {
		font-size: 14px;
		&:last-child {
			max-width: 198px;
			margin-top: 6px;
			@include is-max(640px) {
				margin-top: 30px;
			}
		}
		span {
			display: inline-block;
			margin-right: 5px;
			@include is-max(640px) {
				display: block;
				line-height: 1.2;
			}
		}
	}
}
#footerNavi {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0 20px;
	margin: 0 auto;
	a {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		height: 100%;
		font-size: 14px;
		text-align: center;
		line-height: 1.2;
		padding: 0.5em 1em;
		position: relative;
		&::before {
			width: 0;
			left: 2px;
			transition: 0.2s ease-out 0.1s;
			-webkit-transform: skewX(45deg);
			transform: skewX(45deg);
		}
		&::after {
			width: 0;
			right: 2px;
			transition: 0.1s linear;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&::before,
		&::after {
			display: block;
			content: "";
			background-color: #000;
			height: 1px;
			position: absolute;
			bottom: 2px;
			-webkit-transform-origin: right top;
			transform-origin: right top;
		}
	}
}

footer > p {
	background-color: #f5f5f5;
	text-align: center;
	line-height: 1.4;
	padding: 18px 20px;
	margin-top: 80px;
}
footer > p small {
	display: inline-block;
	font-size: 16px;
	margin-right: 0.5em;
}
footer > p a {
	display: inline-block;
	width: auto;
}
@media screen and (max-width: 640px) {
	footer > p {
		margin-top: 50px;
	}
	footer > p small {
		display: block;
		margin-right: 0;
	}
}
