.page {
	&__header {
		width: 100%;
		max-width: 1090px;
		margin: 0 auto;
		position: relative;
		z-index: 15;

		h1 {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			width: 100%;
			padding: 50px 0 20px;
			border-bottom: 1px solid #000;
			a {
				max-width: 113px;
			}
		}
	}
}
